<div *ngFor="let serv of agb.services">
  <div *ngIf="services.indexOf(serv.id) >= 0">
    <img src="/assets/images/{{serv.name | lowercase}}_symbol.png" width="100">
    <h2>{{serv.name}}</h2>
    <p><a href="{{serv.link}}">Lies selbst!</a></p>
    <ul>
      <li>
        <img src="/assets/images/kontakte.jpg">
        <h3>{{agb.categories.adressbuch}}</h3>
         <p>{{serv.adressbuch.answer}}</p>
        <blockquote>{{serv.adressbuch.quote}}</blockquote>
        <p>{{serv.adressbuch.add}}</p>
      </li>
      <li>
        <img src="/assets/images/standort.jpg">
        <h3>{{agb.categories.standort}}</h3>
        <p>{{serv.standort.answer}}</p>
        <blockquote>{{serv.standort.quote}}</blockquote>
        <p>{{serv.standort.add}}</p>
      </li>
      <li>
        <img src="/assets/images/verhalten.jpg">
        <h3>{{agb.categories.nutzungsverhalten}}</h3>
        <p>{{serv.nutzungzverhalten.answer}}</p>
        <blockquote>{{serv.nutzungzverhalten.quote}}</blockquote>
        <p>{{serv.nutzungzverhalten.add}}</p>
      </li>
      <li>
        <img src="/assets/images/drittanbieter.jpg">
        <h3>{{agb.categories.drittanbieter}}</h3>
        <p>{{serv.drittanbieter.answer}}</p>
        <blockquote>{{serv.drittanbieter.quote}}</blockquote>
        <p>{{serv.drittanbieter.add}}</p>
      </li>
      <li>
        <img src="/assets/images/inhalte.jpg">
        <h3>{{agb.categories.content}}</h3>
        <p>{{serv.content.answer}}</p>
        <blockquote>{{serv.content.quote}}</blockquote>
        <p>{{serv.content.add}}</p>
      </li>
    </ul>
  </div>
</div>

<div style="clear: both; margin-bottom: 3em;">
  <a routerLink="/select" class="button">zurück</a>
</div>

<hr>
<h1>Unser Creepy Score</h1>
<iframe src="//datawrapper.dwcdn.net/1VQsy/1/" scrolling="no" frameborder="0" allowtransparency="true" width="748" height="400"></iframe>
