li {
  list-style: none;
  margin-bottom: 2em;
}

li img {
  display: inline-block;
  vertical-align: middle;
}

.button {
  display: inline-block;
  font-size: 2em;
  background-color: blue;
  padding: .5em;
  border-radius: 4px;
  color: white;
}
