/* You can add global styles to this file, and also import other style files */


html,
body {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.55;
  color: #333;
  margin: 1em;
}

.button {
  display: inline-block;
  background-color: lightsteelblue;
  color: #333;
  padding: .2em .6em;
  border-radius: 3px;
  text-decoration: none;
  font-size: 1.5rem;
  margin-top: 2em;
}

.button:hover,
.button:active {
  background-color: steelblue;
  color: #eee;
}

.burrito {
  display: flex;
  justify-content: space-between;
}

.result {
  flex: 2;
  padding: 2em;
}

.score {
  flex: 1;
  padding: 2em;
}

.result li img {
  width: 300px;
  height: auto;
  mix-blend-mode: multiply;
  float: left;
}

.result li {
  min-height: 300px;
  clear: left;
}

.result ul {
  margin-left: 5em;
}

.result h2 img {
  vertical-align: middle;
}

.result blockquote {
  font-style: italic;
}

.result blockquote:before {
  content: "\""
}

.result blockquote:after {
  content: "\""
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  padding: .5em;
}

li:nth-of-type(2n + 1) {
  background-color: #f5f5f5;
}
